<h1>Логін</h1>

<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Пароль" required>
  <button type="submit">Увійти</button>
</form>

<p style="text-align:center;">
  <a href="/register"><button>Реєстрація</button></a>
</p>

