<h1>Реєстрація</h1>

<form action="/register" method="POST">
  <input type="text" name="name" placeholder="Ім'я" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Пароль" required>
  <button type="submit">Зареєструватися</button>
</form>

<p style="text-align:center;">
  <a href="/login"><button>Вже є акаунт? Увійти</button></a>
</p>

