<h1>Вітаємо, <%= @name %>!</h1>
<p style="text-align:center;">Ви успішно залогінені.</p>

<a href="/users"><button>Показати всіх користувачів</button></a>
<a href="/logout"><button>Вийти</button></a>

